<!-- Close container -->
</div>
<!-- footer -->
<footer>
<div class="container-fluid">
  <nav class="nav">
    <div class="row" >
    	<div class="col-sm-12">
        <p class="text-center">
    		  Suivez nous !
          <a href="https://www.facebook.com/paris" target="_blank" class="btn btn-info">
            <i class="fa fa-facebook"></i> Facebook
          </a>
    		  <a href="https://twitter.com/Paris" target="_blank"  class="btn btn-info">
              <i class="fa fa-twitter"></i>Twitter
          </a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" id="mdp">
      	<p></p>
      	<p><a href="."><img src="images/gvlogo2.png" alt="La vVille de Palyma"></a></p>
      </div>
      <div class="col-sm-4" id="sitemap">
      	<p>#i18n{portal.site.site_map.pathLabel}</p>
      	<ul>
      		<li><a href="">Accueil</a>
      		<li><a href="jsp/site/Portal.jsp?page=helpdesk&faq_id=1">F.A.Q.</a>
      		<li><a href="jsp/site/Portal.jsp?page=contact">Contact</a>
      		<li><a href="jsp/site/PopupLegalInfo.jsp">Mentions l&eacute;gales</a>
      	</ul>
      </div>
      <div class="col-sm-4" id="sitemap">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- /.nav navbar-navbar-collapse -->
  </nav>
</div>
</footer>
<!-- end footer -->
<!-- Included JS Files -->
<script src="js/jquery/jquery.min.js"></script>
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
