	<div class="col-sm-12 col-lg-12 navbar-container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" title="navigation">
		<h1 class="sr-only">Navigation</h1>
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex3-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href=".">
			  PALYMA
			</a>
		  </div>
		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex3-collapse">
			<ul class="nav navbar-nav">
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Les D&eacute;marches <b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="jsp/site/Portal.jsp?page=stationnement">Carte de stationnement</a></li>
				  <li><a href="jsp/site/Portal.jsp?page=quotientfamille">Quotient familial et tarifs</a></li>
				</ul>
			  </li>
			  <li class="active"><a href="jsp/site/Portal.jsp?page=crm"><i class="fa fa-home"></i> Accueil</a></li>
				${pageinclude_userlogin?default("<!-- no myLutece plugin installed -->")}
			</ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</div>

