<div class="col-sm-12 col-lg-12 navbar-container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex3-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=".">
          <img src="images/ville-logo.png" class="img-responsive" alt="La Grosse Ville">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex3-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="jsp/site/Portal.jsp"><i class="fa fa-home"></i> Accueil</a></li>
          <!--
          <li>
            <a href="jsp/site/Portal.jsp?page=crm">Les D&eacute;marches</a>
          </li>
        -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Les D&eacute;marches <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="jsp/site/Portal.jsp?page_id=3">Cartes de stationnements</a></li>
              <li><a href="jsp/site/Portal.jsp?page_id=4">Calcul du quotient familial</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
</div>
